<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tutoring_service_app">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".EducateActivity"
            android:label="@string/menu_educate"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LearnRequestActivity"
            android:label="@string/title_activity_learn_request"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:label="Login" />
        <activity
            android:name=".MotivateActivity"
            android:label="@string/title_activity_motivate"
            android:parentActivityName=".UserLanding"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HelpPage"
            android:label="@string/title_activity_help_page"
            android:parentActivityName=".UserLanding"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProfilePage"
            android:label="@string/title_activity_profile_page"
            android:parentActivityName=".UserLanding"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserLanding"
            android:label="@string/title_activity_user_landing"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SignUpActivity"
            android:label="@string/title_activity_signup"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".VideoCallActivity"
            android:label="@string/title_activity_video_call"
            android:parentActivityName=".UserLanding" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>